*{
    padding: 0;
     margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body{
    background-color: grey;
    background-color: brown;
}


h1{
    font-size: 4em;
}
.container{
    margin-inline: auto;
    padding: 3em;
    background-color: brown;
}



li{
    margin-top: 1em;
    font-size: 3em;
    list-style: none;
}


.inputs{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}


.item{
    width: 150px;
    height: 40px;
    font-size: 1.5em;
    border: 2px solid black;
    padding: .5em;
}


.add{
    width: 100px;
    height: 40px;
    border: 2px solid black;
    padding: .3em;
    font-size: 1.2em;

}